body {
  font: 16px/1.6 Arial;
}
a {
  text-decoration: none;
}
p {
  color: #333;
}
img {
  max-width: 100%;
}
.header {
  background-color: #F7F7F7;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 20px 0 0;
  width: 20%;
}
.header .photo {
  border: 5px solid #fefefe;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  display: block;
  margin: 0 auto;
  width: 102px;
}
.header .photo img {
  border: 1px solid #eee;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  display: block;
}
.header .name,
.header .meta {
  text-align: center;
}
.header .name a {
  color: #333;
  display: block;
  font-size: 1em;
  line-height: 1.3;
  padding: 10px 55px;
}
.header .nav ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}
.header .nav a {
  color: #999;
}
.content {
  width: 78%;
  margin-left: 2%;
}
.content .wrapper {
  padding: 10px 20px;
  margin: 0 40px;
}
.content .wrapper a {
  background-color: #f5f5f5;
  border-bottom: 1px solid #eee8d5;
  color: #3389c5;
  display: inline-block;
  padding: 2px 4px 0;
}
.content .wrapper a:hover {
  background-color: #3389c5;
  border-bottom: 1px solid #000;
  color: #fff;
}
.content .listing {
  list-style-type: none;
  padding: 0;
}
.content .listing li {
  border-bottom: 1px dotted #eeeeee;
  display: block;
  position: relative;
  padding: 5px 0 5px 5px;
}
.content .listing a {
  background: none;
  border: none;
  color: #333;
  font-size: 1.3em;
  font-weight: normal;
}
.content .listing a:hover {
  background: none;
  border: none;
  color: #3389c5;
}
.content .listing .post-date {
  color: #999999;
  position: absolute;
  right: 5px;
  top: 10px;
}
.content h1 {
  color: #333;
  font-weight: normal;
  line-height: 1.2;
  margin: 20px 0 2px;
}
.content .strapline {
  border-bottom: 1px dotted #eeeeee;
  color: #999999;
  font-size: .8em;
  padding: 0 0 8px;
}
.content blockquote {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  margin: 0.25em 0 0.25em 2em;
  padding: 0.25em 40px;
  line-height: 1.45;
  position: relative;
  color: #383838;
}
.content blockquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
}
.content #post-meta {
  border-bottom: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
  margin: 10px 0 20px;
  padding: 2px 10px;
}
.content #post-meta h3 {
  font-weight: normal;
  margin: 0 0 10px;
}
.content #post-meta p {
  margin: 10px 0 4px;
}
.content #post-meta .photo {
  background: none;
  border: none;
  float: left;
  margin-right: 10px;
}
.content #post-meta .photo img {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
@media screen and (max-width: 800px) {
  body {
    margin: 0;
  }
  .header {
    top: 0;
    left: 0;
    bottom: auto;
    padding: 6px 0 0;
    position: relative;
    width: 100%;
  }
  .header .photo {
    float: left;
    margin: 0 20px 10px;
  }
  .content {
    margin: 8% 0 0;
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .header .name,
  .header .meta {
    min-width: 519px;
  }
  .content {
    min-width: 519px;
  }
}
@media screen and (max-width: 480px) {
  .header .photo {
    margin: 0 0 10px 20px;
  }
  .header .name,
  .header .meta {
    min-width: 440px;
  }
  .content {
    min-width: 440px;
  }
  .content .wrapper {
    margin: 0;
  }
}
